
.card {
  padding: 15px;
  grid-column-end: span 12;
  display: flex;
  margin: 12px 0;
  color: white;
  background: rgba(66, 66, 66, 0.83);
  text-decoration: none;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0 0 0 #ed1c24;

  img {
    width: 50%;
  }

  .card-info {
    margin-left: 10px;
    padding: 25px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);

    .title {
      font-size: 35px;
    }

    .text {
      margin-top: 12px;
      font-size: 20px;
    }
  }
}

.card:hover {
  box-shadow: -10px 10px 1px #ed1c24;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (max-width: 990px) {
  .card {
    flex-direction: column;

    img {
      width: 100%;
    }

    .card-info {
      margin: 0;
    }
  }
}

@media (max-width: 1125px) {
  .card {
    grid-column-end: span 6;
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
    }

    .card-info {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}